h1{
    color:blue;
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 50px;
}
img{
    height: 300px;
    background-size: cover;
    background-position: center top;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: rgb(2, 27, 248);
    margin: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el tama침o de las columnas autom치ticamente */
    
}
p {
    text-align: justify;
    padding: 30px 30px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-align: justify;
    display: block;
    font-style:oblique;
    font-size: 25px;

}
.btn-1{

    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(251, 251, 253));
    color:rgb(248, 246, 246);
    border-radius: 25px;
    text-decoration: none;
    float:inline-end;
    box-shadow: 0 5px #fc0202; /* Sombra del bot칩n */
    transition: all 0.10s ease; /* Transici칩n para el efecto de clic */
    padding: 25px 30px;
    font-size: 16px;
    border: none;
    justify-content: center;
    margin-right: 600px;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000,   
    -1px -1px 0px #000, 
    -1px 1px 0px #000,  
    1px -1px 0px #000;      
    
}
.btn-2{
background: linear-gradient(to bottom, rgb(0, 47, 255), rgb(251, 251, 253));
color:rgb(10, 10, 10);
border-radius: 25px;
text-decoration: none;
padding: 10px 25px;
border: none;
margin-left: 20px; 
float:unset;
}